body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.Hero-section {
    background: url(Resources/Background\(Home\)\ up.png);
    background-size: cover;
    background-position: top;
    height: 100vh;
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 20px;
    color: white;
}
.Logo {
    height: 50px;
    width: 50px;
    padding: 5px;
}
.nav-bar {
    flex: 1;
    text-align: center;
}