#section1 {
    background-color: red;
}
#section2 {
    background-color: blue;
}
#section3 {
    background-color: green;
}
.space {
    margin: 20px;
    float: left;
    border: 5px blueviolet solid;
    border-radius: 100%;
}
.size {
    width: 100px;
    height: 100px;
}
p {
    clear: both;
    font-family: "Ruslan Display", sans-serif;
    font-size: 50px;
    font-weight: 300;
}
a {
    text-decoration: none;
    color: brown;
}
a:hover {
    text-decoration: underline blue;
    color: blanchedalmond;
}
a:visited {
    color: green;
}
h6 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}
.div {
    width: 400px;
    margin: 50px;
    padding: 20px;
    background-color: beige;
}
.right {
    text-align: right;
}